@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Manrope Bold';
  src: url('./fonts/Manrope-SemiBold.ttf');
}

:root {
  --bg-primary: hsl(218, 23%, 16%);
  --bg-secondary: hsl(217, 19%, 24%);
  --bg-tertiary: hsl(217, 19%, 38%);

  --clr-primary: hsl(150, 100%, 66%);
  --clr-secondary: hsl(193, 38%, 86%);

  --clr-texts: hsl(193, 38%, 86%);

  --font-advice: 'Manrope Bold';
  --font-texts: 'Manrope';
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-primary);
  color: var(--clr-texts);
  font-family: var(--font-texts);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-content {
  display: flex;
  flex: 1;
  margin: 16px;
  flex-direction: column;
}

.advice-card-wrapper {
  margin: auto;
}

.advice-card {
  margin-block: 64px;
  background: var(--bg-secondary);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 16px 16px #0002;
}

.attribution-ctn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 8px;
  width: 100%;
  overflow: hidden;
}

.attribution-ctn:hover > .attribution {
  transform: translateY(0);
}

.attribution {
  transform: translateY(200%);
  font-size: 11px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  padding: 8px;
  width: 100%;
  background: var(--bg-primary);
  box-shadow: 0 -4px 4px #0002;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}