@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Manrope Bold';
  src: url('./fonts/Manrope-SemiBold.ttf');
}

:root {
  --bg-primary: hsl(218, 23%, 16%);
  --bg-secondary: hsl(217, 19%, 24%);
  --bg-tertiary: hsl(217, 19%, 38%);

  --clr-primary: hsl(150, 100%, 66%);
  --clr-secondary: hsl(193, 38%, 86%);

  --clr-texts: hsl(193, 38%, 86%);
  --clr-advice-id: hsl(150, 100%, 66%);

  --font-advice: 'Manrope Bold';
  --font-texts: 'Manrope';
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-primary);
  color: var(--clr-texts);
  font-family: var(--font-texts);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

p {
  color: var(--clr-advice-id);
}

h1 {
  font-family: var(--font-advice);
}

.main-content {
  display: flex;
  flex: 1;
  margin: 16px;
  flex-direction: column;
}

.advice-card-wrapper {
  margin: auto;
}

.advice-card {
  margin-block: 64px;
  background: var(--bg-secondary);
  padding: 48px;
  border-radius: 12px;
  box-shadow: 0 16px 16px #0002;
  text-align: center;
  max-width: 512px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.advice-card > p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
}

.advice-card > h1 {
  line-height: 120%;
}

.advice-card-divider {
  display: flex;
  background-image: url('./images/pattern-divider-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 32px;
  margin-block: 16px;
}

.advice-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 50%);
}

.btn-advice-generator {
  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;
  padding: 20px;
  border: none;
  background: var(--clr-primary);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-advice-generator:hover {
  box-shadow: 0 0 32px var(--clr-primary);
  transform: scale(1.1);
  cursor: pointer;
}

.btn-advice-generator > span {
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  background-image: url('./images/icon-dice.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-advice-generator:hover > span {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50%, 100% {
    transform: rotate(360deg);
  }
}

.attribution-ctn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 8px;
  width: 100%;
  overflow: hidden;
}

.attribution-ctn:hover > .attribution {
  transform: translateY(0);
}

.attribution {
  transform: translateY(200%);
  font-size: 11px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  padding: 8px;
  width: 100%;
  background: var(--bg-primary);
  box-shadow: 0 -4px 4px #0002;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 384px) {
  .advice-card-divider {
    background-image: url('./images/pattern-divider-mobile.svg');
  }
}

@media (max-width: 336px) {
  .advice-card {
    padding: 32px;
  }

  .advice-card > p {
    font-size: 14px;
  }

  .advice-card > h1 {
    font-size: 24px;
    line-height: normal;
  }
}

@media (max-width: 256px) {
  .advice-card > h1 {
    font-size: 20px;
  }

  .advice-card-divider {
    margin-top: 8px;
  }
}